<!-- Comentario em HTML - Para abrir um template basta abrir um arquivo HTML e digitar HTML:5-->
<!-- Creating a conditional statement-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG FLASK</title>
</head>
<body>

<h2>Victor's Blog </h2><br>
<p> I am {{author}}, the author of this blog </p>
{% if sunny %}
<p> Today is sunny !</p>
{% else %}
<p> Today is rainy !</p>
{% endif %}
</body>
</html>